.darkcolor{
    background-color: aquamarine !important;
}
span{
    color: rgb(41, 90, 139) !important;
}
.pruitt{
    color: rgb(41, 90, 139) !important; 
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
}
h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}